@font-face {
  font-family: 'iconfont';  /* Project id 3006099 */
  src: url('//at.alicdn.com/t/font_3006099_vuuy4jgyi9.woff2?t=1639447536063') format('woff2'),
       url('//at.alicdn.com/t/font_3006099_vuuy4jgyi9.woff?t=1639447536063') format('woff'),
       url('//at.alicdn.com/t/font_3006099_vuuy4jgyi9.ttf?t=1639447536063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}